.profile_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // border: 1px solid green;
  height: 100vh;
  margin-bottom: 50px;

  .account_set {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid red;
    margin: 0 auto;

    .set_title {
      width: 95%;
      height: 75px;
      border-bottom: 2px solid #8c8c8c;
      // border: 1px solid red;
      margin-top: 10px;

      span {
        color: #000;
        font-family: "Roboto", sans-serif; // YoungSerif
        font-size: 28px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }

    .text_boxes {
      width: 99%;
      height: auto;
      // border: 1px solid red;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .info_box {
        width: 99%;
        height: 60px;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 20px;
          font-weight: 600;
          // border: 1px solid red;
        }
      }

      .info_box_desc {
        width: 99%;
        height: auto;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 18px;
          font-weight: 600;
          // border: 1px solid red;

          .input {
            width: 90%;
            // border: 1px solid red;
          }
        }
      }

      .info_box_img {
        width: 99%;
        height: 125px;
        // border: 1px solid green;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 18px;
          font-weight: 600;
          // border: 1px solid yellow;
          gap: 40px;
        }

        .upload_img {
          width: 80%;
          height: auto;
          // border: 1px solid red;
          display: flex;
          flex-direction: row;
          gap: 60px;
          cursor: pointer;

          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 1px solid navy;
          }

          .add_img_btn {
            height: 40px;
            background-color: #29b6f6;
            padding: 4px 5px;
            border-radius: 8px;
            margin-top: 32px;

            span {
              color: #fff;
              font-family: YoungSerif;
              font-size: 12px;
              font-style: normal;
              font-weight: 600;
              line-height: 22.4px; /* 160% */
              letter-spacing: 1.4px;
              text-transform: uppercase;
            }
          }
        }
      }

      .card_info {
        width: 99%;
        height: auto;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 20px;
          font-weight: 600;
          // border: 1px solid red;
        }

        .card_info_boxes {
          width: 450px;
          height: 230px;
          display: flex;
          flex-direction: column;
          border: 1px solid #d3d3d3;
          gap: 10px;
          padding: 10px;
          border-radius: 8px;
          // justify-content: center;

          .card_number_form {
            width: 100%;
          }

          .card2_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .card_types {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;

            .card {
              width: 60px;
              height: 40px;
              // border: 1px solid red;
            }
          }
        }
      }
    }

    .save_btn {
      width: 180px;
      height: 45px;
      margin-top: 30px;
      padding: 12px 15px;
      border: 1px solid #f98404;
      background: var(--Brand-color-Accent-1, #f98404);

      span {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }
  }
}
