.profile_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  height: 100vh; // Make sure the container takes the full height of the viewport

  .account_set {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; // Center children horizontally if needed
    border: 1px solid red;
    margin: 0 auto;

    .set_title {
      width: 95%;
      height: 75px;
      border-bottom: 2px solid #8c8c8c;
      // border: 1px solid red;
      margin-top: 10px;

      span {
        color: #000;
        font-family: "Roboto", sans-serif; // YoungSerif
        font-size: 28px;
        font-weight: 500;
        text-transform: capitalize;
        letter-spacing: 1px;
      }
    }

    .text_boxes {
      width: 99%;
      height: 1200px;
      // border: 1px solid red;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .info_box {
        width: 99%;
        height: 60px;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 20px;
          font-weight: 600;
          // border: 1px solid red;
        }
      }

      .info_box_desc {
        width: 99%;
        height: auto;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 18px;
          font-weight: 600;
          // border: 1px solid red;

          .input {
            width: 90%;
            // border: 1px solid red;
          }
        }
      }

      .info_box_img {
        width: 99%;
        height: 125px;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 18px;
          font-weight: 600;
          // border: 1px solid red;
          gap: 40px;
        }

        .account_img_box {
          width: 80%;
          // border: 1px solid red;
          display: flex;
          flex-direction: row;
          gap: 60px;

          .acc_img {
            width: 110px;
            height: 110px;
            border-radius: 50%;
          }

          .upload_img {
            width: 150px;
            height: 50px;
            // border: 1px solid red;
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
            cursor: pointer;

            .change {
              background-color: #29b6f6;
              display: inline-flex;
              padding: 4px 5px;
              align-items: flex-start;
              border-radius: 8px;
              justify-content: center;

              span {
                color: #fff;
                font-family: YoungSerif;
                font-size: 12px;
                font-style: normal;
                font-weight: 600;
                line-height: 22.4px; /* 160% */
                letter-spacing: 1.4px;
                text-transform: uppercase;
              }
            }

            .delete {
              background-color: #f44336;
              display: inline-flex;
              padding: 4px 5px;
              align-items: flex-start;
              border-radius: 8px;
              justify-content: center;

              span {
                color: #fff;
                font-family: YoungSerif;
                font-size: 12px;
                font-style: normal;
                font-weight: 700;
                line-height: 22.4px; /* 160% */
                letter-spacing: 1.4px;
                text-transform: uppercase;
              }
            }
          }
        }
      }

      .card_info {
        width: 99%;
        height: auto;
        // border: 1px solid red;
        display: flex;
        flex-direction: row;
        padding: 10px;

        .span {
          width: 20%;
          color: #000;
          font-family: YoungSerif;
          font-size: 20px;
          font-weight: 600;
          // border: 1px solid red;
        }

        .card_info_boxes {
          width: 450px;
          height: 230px;
          display: flex;
          flex-direction: column;
          border: 1px solid #d3d3d3;
          gap: 10px;
          padding: 10px;
          border-radius: 8px;
          // justify-content: center;

          .card_number_form {
            width: 100%;
          }

          .card2_box {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
          }

          .card_types {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;

            .card {
              width: 60px;
              height: 40px;
              // border: 1px solid red;
            }
          }
        }
      }
    }

    .save_btn {
      width: 180px;
      height: 45px;
      margin-top: 30px;
      margin-left: 205px;
      padding: 12px 15px;
      border: 1px solid #f98404;
      background: var(--Brand-color-Accent-1, #f98404);

      span {
        color: #fff;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1px;
      }
    }
  }
}
