$screen-sm-min: 420px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}
.blogs {
  margin-top: 80px;

  .mobile_note {
    display: none;
    height: 400px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    margin-top: 50px;
    @include sm {
      display: flex;
    }
  }
  .header_box {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }
  .blogs_page {
    @include sm {
      display: none;
    }
    display: flex;
    flex-direction: column;
    $screen-sm-min: 420px;
    @mixin sm {
      @media (max-width: #{$screen-sm-min}) {
        @content;
      }
    }
    align-items: center;
    .dir_box {
      @include sm {
        display: none;
      }
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 30px 0;
      width: 100%;
      .dir_link {
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.3s;
        padding: 2px 8px;
        border-radius: 20px;
        cursor: pointer;
        p {
          margin-left: 5px;
        }
        &:hover {
          background: #f1f1f1;
        }
        .before_icon {
          margin-right: 5px;
          margin-left: 0;
        }
        .close {
          padding: 2px;
          border-radius: 50%;
          transition: all 0.3s;
          &:hover {
            background: #e4e4e4;
          }
        }
      }
      .link_div {
        margin: 0 10px;
      }
    }
    .main_box {
      display: flex;
      flex-direction: row;
      width: 95%;
      align-items: flex-start;
      justify-content: center;
      .side_bar {
        width: 32%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 15px;
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 100px;
        padding-bottom: 20px;
        .avatar_wrap {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          width: 200px;
          height: auto;
          .setting_icon {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
              fill: #fc9823;
            }
          }
          .avatar {
            width: 140px;
            height: 140px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
              rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
          }
        }
        .user_name {
          margin: 15px 0;
          font-size: 24px;
        }
        .follow_box {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 52%;
          p {
            cursor: pointer;
            transition: all 0.3s;
            font-size: 18px;
            padding: 2px 5px;
            border-radius: 10px;
            &:hover {
              color: #fc9823;
            }
            span {
              margin-right: 5px;
              font-weight: 600;
            }
          }
        }
        .icon_box {
          width: 65%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 20px;
          a {
            text-decoration: none;
            .sns_icon {
              fill: #172b4d;
              width: 30px;
              height: 30px;
              cursor: pointer;
              transition: all 0.3s;
              &:hover {
                fill: #fc9823;
              }
            }
          }
        }
        .user_desc {
          width: 75%;
          font-size: 16px;
          text-align: center;
          margin: 35px 0 20px 0;
        }
        .btn_box {
          margin-top: 20px;
          width: 75%;
          .user_btn {
            background: #fc9823;
            color: #ffffff;
            font-weight: 600;
            margin-bottom: 15px;
            width: 100%;
            transition: all 0.2s;
            &:hover {
              background: #f39223;
            }
          }
        }
        .follow_container {
          width: 100%;
        }
      }
      .main_posts {
        width: 61%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 240px;
        .post_card {
          width: 85%;
          margin-bottom: 20px;
          border-bottom: 1px solid #afafaf;
          .auth_box {
            margin: 10px 0;
            font-size: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
            .user_info {
              display: flex;
              flex-direction: row;
              align-items: center;
              cursor: pointer;
              .post_avatar {
                height: 50px;
                width: 50px;
              }
              .user_name {
                margin: 0 5px 0 15px;
              }
            }
            .post_time {
              color: #7c7c7c;
            }
            .follow_link {
              color: #4686e0;
              font-weight: 600;
              margin-left: 10px;
              cursor: pointer;
            }
          }
          .img_swiper {
            width: 100%;
            height: 350px;
            border-radius: 10px;
            background-size: cover;
            margin-bottom: 10px;
            .inner_box {
              backdrop-filter: blur(20px);
              border-radius: 10px;
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              img {
                height: 100%;
                width: auto;
              }
            }
            color: #fc9823;
            .post_img {
              width: 70%;
              margin-left: 15%;
            }
            .swiper-pagination-bullet-active {
              background: #fc9823;
            }

            .swiper-button-prev::after {
              color: #fc9823;
            }
            .swiper-button-next::after {
              color: #fc9823;
            }
          }
          .main_bottom_wrap {
            margin-bottom: 10px;
            .like_box {
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-between;
              .left_icons {
                display: flex;
                flex-direction: row;
                gap: 15px;
              }
              .num_col {
                display: flex;
                flex-direction: row;
                cursor: pointer;
                align-items: center;
                p {
                  font-size: 18px;
                }
                .post_icon {
                  margin: 0 5px;
                  height: 30px;
                  width: 30px;
                }
              }
              .col_left {
                margin-right: 15px;
                p {
                  font-size: 16px;
                }
                .post_icon {
                  width: 20px;
                  height: 20px;
                }
              }
            }
            .article_box {
              padding: 0 10px;
              margin-top: 10px;
              position: relative;
            }
            .article_title {
              font-size: 18px;
              margin-bottom: 5px;
            }

            .article_content {
              font-size: 16px;
              height: 20px;
              width: fit-content;
              overflow-y: hidden;
              transition: all 0.2s;
            }
            .sign_more {
              font-size: 20px;
              font-weight: 500;
            }
            .see_all {
              color: #4686e0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.modal_content {
  color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
  h4 {
    font-size: 24px;
  }
  .input_subject {
    width: 400px;
    height: 40px;
    margin: 15px 0;
  }
  .input_content {
    width: 400px;
    margin: 15px 0;
  }
  .upload_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .image_box {
      width: 120px;
      height: 100px;
      margin-left: 100px;
      border: 1px solid #afafaf;
      border-radius: 10px;
      position: relative;
      .img_icon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: #afafaf;
      }
    }
  }
  .create_btn {
    background: #fc9823;
    color: #ffffff;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 18px;
    height: 35px;
    &:hover {
      background: #fc9823;
      color: #ffffff;
    }
  }
}
.comment_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: 1px solid #e7e7e7;
  border: 2px solid yellow;
  .comment_wrap {
    overflow-y: auto;
    height: 250px;
    .comment_item {
      border-bottom: 1px solid #e7e7e7;
      padding-bottom: 6px;
      margin-top: 10px;
      .commentor_wrap {
        display: flex;
        flex-direction: row;
        .text_wrap {
          .user_name_wrap {
            display: flex;
            flex-direction: row;
            align-items: center;
            .commentor_name {
              font-size: 16px;
              font-weight: 600;
              margin: 0 10px;
            }
            .comment_time {
              color: #7c7c7c;
            }
          }
          .comment_content {
            margin-left: 10px;
            font-size: 14px;
            line-height: 18px;
            font-family: "Roboto", sans-serif;
          }
        }
      }
    }
  }
  .comment_input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .comment_textfield {
      width: 85%;
    }
    .post_btn {
      text-transform: capitalize;
      font-weight: 600;
      font-size: 16px;
    }
  }
}
.follow_list_container {
  width: 400px;
  height: 500px;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px;
  .follow_title {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }
  .user_list {
    width: 100%;
    height: 440px;
    margin-top: 10px;
    overflow-y: auto;
    border-top: 1px solid #e7e7e7;
    .user_item {
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      .user_info_wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        .user_avatar {
          width: 45px;
          height: 45px;
          margin-right: 10px;
        }
        .user_info {
          .user_nick {
            font-weight: 600;
            font-size: 16px;
          }
          .user_type {
            font-size: 14px;
            color: #7c7c7c;
            line-height: 14px;
            text-transform: lowercase;
          }
        }
      }
      .follow_btn {
        background: #fc9823;
        color: #ffffff;
        text-transform: capitalize;
        font-weight: 500;
        font-size: 14px;
        height: 30px;
        width: 100px;
        font-weight: 550;
      }
      .follow_disable_btn {
        background: #dddddd;
        color: #3b3b3b;
        font-weight: 550;
      }
    }
  }
}
