@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// CAFE HEADER STYLE START
.cafe_header {
  height: 400px;
  width: 100%;
  background: linear-gradient(to left, #edecf0, #ffffff);
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  // .header_sort {
  //   width: 100%;
  //   height: 50px;
  //   background: linear-gradient(#ffffffe0, #ffffff54);
  //   margin-top: 200px;
  // }
}
// CAFE HEADER STYLE END

// ALL CAFE PAGE STYLE START
.all_cafes {
  width: 100%;
  height: 100%;
  background-color: #fff;

  .cafe_box {
    width: 1320px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    .filter_search_box {
      width: 100%;
      height: auto;
      padding: 5px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      background-color: #f7f7f7;
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;

      .filter_box {
        width: 500px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .f_box {
          width: 90px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #ffa500;
          border-radius: 8px;
          cursor: pointer;

          p {
            color: #fff; /* White text */
            font-family: "Urbanist", sans-serif;
            font-size: 15px;
            font-weight: 700;
            line-height: 25.2px;
            text-transform: uppercase;
            margin: 0;
          }
        }
      }

      .search_box {
        width: 250px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        background-color: #f9f9f9;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        .search_forms {
          width: 100%;
          display: flex;
          align-items: center;

          .search_input {
            flex: 1;
            height: 100%;
            border: none;
            background-color: transparent;
            padding: 5px;
            outline: none;
          }

          .search_btn {
            width: 40px;
            height: 40px;
            margin-left: 5px;
            background-color: #ffc300;
            border: none;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .search_btn:hover {
            background-color: #ff6b34;
          }

          .search_btn:active {
            background-color: #e64800;
          }

          .search_btn svg {
            fill: #000;
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .all_cafe_box {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 50px;

      .cafe_boxes {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 5px;
        justify-content: space-between;

        .cafe_box {
          width: 300px;
          height: 480px;
          display: flex;
          flex-direction: column;
          border-radius: 10px;
          overflow: hidden;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          border: 1px solid #afafaf; // 999999 afafaf
          cursor: pointer;

          .cafe_img {
            width: 100%;
            height: 300px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
            }
          }

          .cafe_info {
            width: 100%;
            height: 180px;
            display: flex;
            flex-direction: column;
            background-color: #f0f0f0; // f0f0f0 ffebcd

            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            .main_info {
              flex: 1;
              display: flex;
              flex-direction: column;
              padding: 8px;

              .main_stage {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                border-bottom: 1px solid #ccc;
                padding-bottom: 5px;

                .cafe_name {
                  width: 230px;
                  flex: 1;
                  margin-right: 10px;
                  display: flex;
                  align-items: center;

                  div {
                    color: #ff6347;
                    font-family: "Montserrat", sans-serif;
                    font-size: 24px;
                    font-weight: 600;
                    letter-spacing: 1px;
                  }
                }

                .like_btn {
                  width: 35px;
                  height: 35px;
                  display: flex;
                  background-color: #808080;
                  border-radius: 50%;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  margin-right: 5px;
                }
              }

              .second_stage {
                width: 90%;
                display: flex;
                flex-direction: column;
                height: 80px;
                justify-content: space-between;

                .cafe_address {
                  width: 100%;
                  height: 55px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;

                  div {
                    flex: 1;
                    color: #333;
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-left: 10px;
                    overflow-wrap: break-word;
                  }
                }

                .cafe_number {
                  width: 100%;
                  height: 20px;
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin-top: 8px;

                  div {
                    flex: 1;
                    color: #333;
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 1.5;
                    margin-left: 10px;
                  }
                }
              }
            }

            .rating_info {
              width: 100%;
              height: 45px;
              display: flex;
              flex-direction: row;
              align-items: center;
              border-top: 1px solid #999;
              padding: 10px;

              .rating {
                width: 125px;
                height: 25px;
                display: flex;
                justify-content: start;
              }

              .rating_2 {
                position: relative;
                width: 150px;
                height: 25px;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                flex-direction: row;

                .dvr {
                  width: 1px;
                  height: 30px;
                  background-color: #999;
                  margin: 0 10px;
                }

                .like,
                .view {
                  width: 45px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  .like_cnt,
                  .view_cnt {
                    color: #333;
                    font-family: "Open Sans", sans-serif;
                    font-size: 15px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
    }

    // 3.Pagination box
    .pagination {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 50px;
    }
  }
}
// ALL CAFE PAGE STYLE END

// CHOSEN CAFE PAGE STYLE START
.chosen_cafe {
  width: 1320px;
  height: auto;
  // border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;

  .chosen_cafe_box {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .name_search_box {
      width: 100%;
      height: 50px;
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .cafe_name {
        margin-left: 380px;
        p {
          width: 500px;
          height: 50px;
          margin: 0;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #000000;
          text-align: center;
          font-family: "Roboto", sans-serif;
          font-size: 36px;
          font-style: normal;
          font-weight: 600;
          line-height: 44px;
        }
      }

      .search_box {
        width: 250px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 20px;
        padding: 5px;
        display: flex;
        align-items: center;
        background-color: #f9f9f9;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

        .search_forms {
          width: 100%;
          display: flex;
          align-items: center;

          .search_input {
            flex: 1;
            height: 100%;
            border: none;
            background-color: transparent;
            padding: 5px;
            outline: none;
          }

          .search_btn {
            width: 40px;
            height: 40px;
            margin-left: 5px;
            background-color: #ffc300;
            border: none;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
          }
          .search_btn:hover {
            background-color: #ff6b34;
          }

          .search_btn:active {
            background-color: #e64800;
          }

          .search_btn svg {
            fill: #000;
            width: 25px;
            height: 25px;
          }
        }
      }
    }

    .other_cafe_swiper {
      width: 100%;
      height: 170px; // 147px
      display: flex;
      flex-direction: row;
      margin-top: 35px;
      // border: 1px solid red;

      .prev_btn,
      .next_btn {
        width: 5%;
        height: 150px; // 147px
        font-size: 40px;
        color: #000;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: background-color 0.3s;

        &:hover {
          background-color: #ffe5b4;
        }
      }

      .other_cafe {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // border: 1px solid green;

        .cafe_avatar {
          width: 140px; // 123px
          height: 170px; // 147px
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;

          img {
            width: 130px;
            height: 130px;
            border-radius: 50%;
          }

          p {
            // margin-top: 10px;
            font-family: "Open Sans", sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 16px;
            color: #000;
          }
        }
      }
    }

    .filter_box1 {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 65px;

      .filter_1 {
        width: 25%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .filter_btn {
          background-color: #ffa500;
        }
      }
    }

    .product_types {
      width: 1320px; // 100%
      height: auto; //1400px
      display: flex;
      flex-direction: row;
      // border: 1px solid black;

      .filter_box2 {
        margin-top: 60px;
        width: 50px;
        height: 350px; //  auto
        display: flex;
        flex-direction: column;

        .filter_2 {
          display: flex;
          flex-direction: row;
          justify-content: end;
          -moz-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
          -o-transform: rotate(-90deg);
          -webkit-transform: rotate(-90deg);

          .filter_btn {
            background-color: #ffa500;
            min-width: auto;
            margin-right: 10px;
          }
        }
      }

      .cafe_all_products {
        width: 100%; // Change from 1320px to 100%
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        border: 1px solid red;
        margin: 40px 10px;

        .product_box {
          width: calc(33.33% - 20px); // Adjusted width
          margin-bottom: 20px;
          // border: 1px solid red;
          display: flex;
          flex-direction: row;
          justify-content: center;

          .sale_product {
            width: 290px;
            height: 440px;
            border: 1px solid #fcfceb;
            cursor: pointer;
            position: relative;
            // border: 1px solid black;
            border: 2px solid rgba(33, 33, 33, 0.2);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
            transition: background-color 0.3s, transform 0.3s;
            overflow: hidden;

            &:hover {
              .like_btn {
                opacity: 1;
              }
            }

            .like_btn {
              width: 35px;
              height: 35px;
              display: flex;
              background-color: #808080;
              border-radius: 50%;
              position: absolute;
              top: 10px;
              right: 10px;
              opacity: 0;
              transition: opacity 0.3s ease;
              cursor: pointer;
              z-index: 2;
            }

            .sale_badge {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 0;
              left: 0;
              background-size: cover;
              background-position: center;
              z-index: 1;

              .sale,
              .new {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                align-items: center;
                display: flex;
                justify-content: center;
                text-decoration: none;
                font-family: "Roboto", sans-serif;
                font-size: 20px;
                font-weight: bold;

                &.sale {
                  background-color: #e74c3c;
                  color: #fff;
                }

                &.new {
                  background-color: #2ecc71;
                  color: #fff;
                }
              }
            }

            img {
              width: 290px;
              height: 315px;
              // object-fit: cover;
            }

            .product_info {
              width: 100%;
              height: 115px;
              padding: 5px;
              display: flex;
              flex-direction: column;
              background-color: #f4f4f4;
              border-radius: 8px;
              box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

              .pro_name {
                width: 100%;
                height: 40px;
                color: #000;
                margin-top: 5px;
                display: flex;
                // border: 1px solid red;

                span {
                  width: 80%;
                  font-family: "Roboto", sans-serif;
                  font-size: 27px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 28px;
                  // border: 1px solid red;
                }

                .basket {
                  width: 20%;
                  border: 1px solid black;
                  border-radius: 10px;
                  padding: 5px;
                  transition: background-color 0.3s, box-shadow 0.3s;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-right: 5px;

                  img {
                    width: 30px;
                    height: 30px;
                    transition: transform 0.3s;
                  }

                  &:hover {
                    background-color: #ffe08c;
                    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                    img {
                      transform: scale(1.1);
                    }
                  }
                }
              }

              .pro_basket {
                width: 100%;
                height: 40px;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                // border: 1px solid black;

                .price {
                  width: 100%;
                  height: 100%;
                  color: #000;
                  font-family: "Open Sans", sans-serif;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 24px;
                  border-bottom: 1px solid #999;

                  .discounted {
                    color: #ff0000;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                  }

                  .original {
                    color: #999999;
                    text-decoration: line-through;
                    margin-left: 10px;
                  }
                }
              }

              .product_reviews {
                width: 100%;
                height: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-top: 3px;

                .rating {
                  width: auto;
                  height: auto;
                  text-align: center;
                  font-family: "Open Sans", sans-serif;
                  font-size: 18px;
                  font-style: normal;
                  font-weight: 900;
                  line-height: 22px;
                  color: #f9a825;
                }

                .text {
                  width: 40px;
                  height: 100%;
                  color: #808080;
                  text-align: center;
                  font-family: "Open Sans", sans-serif;
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 19.6px;
                }

                .rating_2 {
                  position: relative;
                  width: 150px;
                  height: 25px;
                  display: flex;
                  justify-content: flex-end;
                  flex-direction: row;
                  // border: 1px solid red;
                  margin-right: 5px;

                  .dvr {
                    width: 1px;
                    height: 20px;
                    background-color: #999;
                    margin: 3px 10px;
                  }

                  .like,
                  .view {
                    width: 35px;
                    height: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    // border: 1px solid red;

                    .like_cnt,
                    .view_cnt {
                      color: #333;
                      font-family: "Open Sans", sans-serif;
                      font-size: 14px;
                      font-weight: 600;
                      margin-right: 5px;
                      // border: 1px solid red;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
// CHOSEN CAFE PAGE STYLE END
