@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

// MY PAGE HEADER STYLE START
.myPage_header {
  height: 300px;
  width: 100%;
  background: linear-gradient(to left, #edecf0, #ffffff);
  display: flex;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  // .header_sort {
  //   width: 100%;
  //   height: 50px;
  //   background: linear-gradient(#ffffffe0, #ffffff54);
  //   margin-top: 200px;
  // }
}
// MY PAGE HEADER STYLE END

// MY PAGE STYLE START
.members_page {
  width: 100%;
  height: 100%;
  // border: 1px solid black;
  // display: flex;
  // justify-content: center;

  .my_page_box {
    width: 1120px;
    height: auto;
    // border: 1px solid red;
    margin-top: 80px;
    margin-bottom: 80px;

    .my_page_frame {
      display: flex;
      flex-direction: row;
      // gap: 50px;
      justify-content: space-between;

      .my_page_left {
        width: 600px;
        height: auto;

        .post_title {
          width: 100%;
          height: 40px;
          margin-bottom: 20px;
          flex-shrink: 0;
          color: #000;
          text-align: center;

          span {
            font-family: YoungSerif;
            font-size: 32px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            letter-spacing: 2px;
          }
        }

        .all_blogs {
          display: flex;
          flex-direction: column;

          .post_box {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            // padding-bottom: 20px;
            border-top: 1px solid #000;

            .post_img {
              width: auto;
              height: 400px;
              border-radius: 8px;
              object-fit: cover;
              padding: 2px;
              margin-top: 20px;
            }

            .tag_target {
              width: 100%;
              height: 30px;
              display: flex;
              flex-direction: row;
              margin-top: 10px;

              .tag {
                width: 50%;
                display: flex;
                cursor: pointer;

                .first {
                  background: #d2691e;
                  display: flex;
                  padding: 3px 10px;
                  margin-right: 10px;
                  align-items: center;

                  span {
                    color: #fff;
                    font-family: "Roboto", sans-serif;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 19.6px;
                  }
                }
              }

              .target {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .like {
                  width: 50px;
                  display: flex;
                  flex-direction: row;
                  gap: 8px;
                  cursor: pointer;
                }

                .view {
                  width: 50px;
                  margin-left: 20px;
                  display: flex;
                  flex-direction: row;
                  gap: 8px;
                }
              }
            }

            .title {
              width: 100%;
              height: auto;
              margin-top: 10px;

              span {
                color: #000;
                font-family: YoungSerif;
                font-size: 20px;
                font-weight: 600;
                word-break: break-word;
                overflow-wrap: break-word;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .context {
              width: 100%;
              padding: 5px 0px;

              p {
                color: #000;
                font-family: YoungSerif;
                font-size: 16px;
                font-weight: 500;
                margin: 0;
                line-height: 1.5;
              }
            }

            .read {
              width: 100%;
              cursor: pointer;

              span {
                color: #000;
                font-family: YoungSerif;
                font-size: 16px;
                font-weight: 700;
              }
            }
          }

          .pagination {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
          }
        }
      }

      .my_page_right {
        width: 400px;
        height: 570px;
        padding: 30px;
        background-color: #f5f5f5;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: sticky;
        top: 100px;

        .account_info {
          display: flex;
          flex-direction: column;
          position: relative;

          .img_settings {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-bottom: 10px;

            .settings_btn {
              width: 24px;
              height: 24px;
              cursor: pointer;

              &:hover {
                color: #f98404;
              }
            }

            .account_img {
              display: flex;
              flex-direction: column;
              align-items: center;

              img {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 140px;
                height: 115px;
              }
            }
          }

          .user_name {
            height: 30px;
            margin-top: 15px;
            font-family: YoungSerif;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            // border: 1px solid red;
            margin: 0;
          }

          .follow {
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 20px;
            margin: 0;
            // border: 1px solid red;

            p {
              cursor: pointer;
              transition: all 0.3s;
              font-size: 20px;
              font-family: YoungSerif;
              padding: 2px 5px;
              border-radius: 10px;

              &:hover {
                color: #f98404;
              }
              span {
                margin-right: 5px;
                font-weight: 600;
              }
            }
          }

          .social_media {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 3px 0px;
            align-items: center;
            justify-content: center;

            .icon {
              width: 30px;
              height: 30px;
              cursor: pointer;
              margin-right: 20px;
              // color: #000000;

              &:hover {
                color: #f98404;
              }
            }
          }

          .desc {
            height: 80px;
            color: #000;
            font-family: YoungSerif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
          }

          .post_buttons {
            height: 105px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            // border: 1px solid red;
            gap: 20px;
            // margin-top: 30px;

            .post_btn {
              height: 38px;
              background: linear-gradient(#fbdea1, #f6c352);
              border: 1px solid #a07f32;
              box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
              color: #000;
              font-family: YoungSerif;
              font-size: 20px;
              font-weight: 600;
              width: 100%;
              transition: all 0.2s;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
// MY PAGE STYLE END
