@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* NAVBAR STYLE START */
.active_scroll {
  transition: all 0.3s;
  background: #f1f0f5;
}
.navbar {
  width: 100%;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  .navbar_box {
    width: 1320px;
    height: 60px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;

    .navbar_left {
      width: 150px;
      display: flex;
      flex-direction: row;

      .navbar_logo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        p {
          width: 50px;
          height: 50px;
          line-height: 40px;
          font-family: "Roboto", sans-serif;
          font-weight: 800;
          font-style: normal;
          visibility: visible;
          margin-bottom: 3px;
          margin-left: 3px;
          cursor: pointer;
        }
      }
    }

    .navbar_middle {
      width: 870px;
      height: 60px;
      padding: 3px;

      .navbar_menu {
        width: 850px;
        height: 50px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center;

        .menu_page {
          width: 100px;
          line-height: 50px;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-style: normal;
          visibility: visible;

          .menu {
            text-decoration: none;

            h5 {
              cursor: pointer;
              font-size: 16px;
              color: #333;
              margin: 0;
              transition: color 0.3s;

              &:hover {
                color: #a76c47;
              }
            }
          }
        }
      }
    }

    .navbar_right {
      width: 300px;

      .navbar_icons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        .icon_search {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .icon_cart {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .icon_user {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          img {
            width: 25px;
            height: 25px;
          }
        }
        .navbar_signup {
          width: 75px;
          height: 50px;
          cursor: pointer;

          .menu {
            text-decoration: none;
            h5 {
              width: 50px;
              margin-top: 2px;
              line-height: 50px;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              font-style: normal;
              visibility: visible;
              display: flex;
              justify-content: flex-end;
              color: #333;
            }
          }
        }
        .navbar_login {
          width: 75px;
          height: 50px;
          cursor: pointer;

          .menu {
            text-decoration: none;
            h5 {
              width: 50px;
              margin-top: 2px;
              line-height: 50px;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              font-style: normal;
              visibility: visible;
              display: flex;
              justify-content: flex-end;
              color: #333;
            }
          }
        }
      }
    }
  }
}
/* NAVBAR STYLE END */

/* FOOTER STYLE START */
.footer {
  width: 100%;
  height: 100%;
  background-color: #f8f5e1; // f5f5f5 fffff0
  justify-content: center;
  display: flex;

  .footer_box {
    width: 1320px;
    // max-width: 1320px;
    height: 520px; // 513px
    display: flex;

    .footer1 {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      .f1_top {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: 1px solid red;

        .f1_icon {
          width: 32px;
          height: 32px;
          margin-right: 10px;
          img {
            width: 30px;
            height: 30px;
          }
        }
        .f1_text {
          color: #a0522d; // 382b1f
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .f1_divider {
        width: 1px;
        height: 60px;
        background-color: black;
      }
    }

    .footer2_3 {
      width: 100%;
      height: 460px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      // Footer 2
      .footer2 {
        width: 658px; // 659px
        height: 460px; //
        // border: 1px solid red;

        .f2_box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .f2_contents {
            width: 100%;
            height: 360px;
            display: flex;
            flex-direction: row;
            // justify-content: space-around;
            margin-left: 5px;

            .content {
              width: 215px; // 149px
              height: 250px; // 238px
              // justify-content: space-around;

              .title {
                width: 100%;
                height: 50px;
                margin-top: 50px;
                color: #a0522d; //  382b1f
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 25.2px; /* 157.5% */
                text-transform: uppercase;
                cursor: pointer;
              }

              .content_texts {
                display: flex;
                flex-direction: column;

                .text {
                  color: #382b1f;
                  font-family: "Open Sans", sans-serif;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 22.4px; /* 140% */
                  cursor: pointer;
                }
              }
            }
          }

          .f2_bottom {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;

            .f2_cards {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              .icon {
                width: 64px;
                height: 48px;
                // margin-left: 10px;
              }

              .icon_w {
                width: 50px;
                height: 35px;
              }

              .icon_p {
                width: 60px;
                height: 40px;
              }

              .icon_n {
                width: 75px;
                height: 55px;
              }

              .icon_s {
                width: 60px;
                height: 40px;
              }
            }

            .f2_rights {
              width: 510px;
              height: 24px;
              margin-left: 5px;

              p {
                color: #d2691e; // A0522D
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 22.4px; /* 140% */
              }
            }
          }
        }
      }
      .f2_divider {
        width: 1px;
        height: 360px; // 460px
        background-color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
      }

      // Footer 3
      .footer3 {
        width: 658px; // 659px
        height: 460px; // 453px
        // border: 1px solid red;
        display: flex;
        justify-content: center;
        align-items: center;

        .f3_box {
          width: 500px; // 650px
          height: 440px; // 440px
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          // border: 1px solid red;
          margin-left: 20px;

          .f3_logo {
            width: 600px;
            height: auto; // 120px
            padding: 5px;
            display: flex;
            justify-content: center;
            // border: 1px solid red;
            margin-top: 20px;

            img {
              width: 100px; // 91px
              height: 100px; // 91px
            }
          }

          .f3_send_email {
            width: 100%;
            height: auto; // 220px 150px
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            margin-top: 10px;
            margin-bottom: 10px;
            h4 {
              width: 100%; // 421px
              height: auto; // 63px
              color: #a0522d; //  382b1f
              font-family: "Roboto", sans-serif;
              font-size: 26px;
              font-weight: 700;
              line-height: 25.2px; /* 157.5% */
            }

            .email_wrap {
              width: 100%; // 411px
              height: auto; // 32px
              display: flex;
              flex-direction: row;

              .f3_input {
                width: 350px; // 127px
                height: 25px; //20px
                border: none;
                background-color: #f8f5e1;
              }

              .f3_btn {
                width: 40px; // 29px
                height: 30px; //24px
              }
            }

            .f3_divider {
              width: 400px;
              height: 1px; // 460px
              background-color: black;
            }
          }

          .f3_social_media {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            // justify-content: space-between;
            margin-bottom: 20px;
            padding: 3px 0px;

            .icon {
              width: 24px;
              height: 24px;
              cursor: pointer;
              margin-right: 20px;
            }
          }

          .f3_num_email {
            width: 100%;
            height: auto; // 30px
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;

            .number {
              width: 250px; // 220px
              height: 28px; // 28px
              p {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px; /* 116.667% */
              }
            }

            .email {
              width: 150px; // 127px
              height: 28px; // 23px
              margin-top: 20px;
              cursor: pointer;
              p {
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 22.4px; /* 140% */
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 1320px) {
    .footer_box {
      border: none;
    }
  }
}

/* FOOTER STYLE END */
