@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* NAVBAR STYLE START */
.active_scroll {
  transition: all 0.3s;
  background: #fdd22b;
}
.navbar {
  width: 100%;
  justify-content: center;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  .navbar_box {
    width: 1320px;
    height: 70px;
    display: flex;
    align-items: center;

    .navbar_left {
      width: 150px;
      display: flex;
      flex-direction: row;
      // border: 1px solid red;

      .navbar_logo {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
        }

        p {
          width: 70px;
          height: 60px;
          line-height: 50px;
          font-family: "Roboto", sans-serif;
          font-weight: 800;
          font-style: normal;
          font-size: 22px;
          visibility: visible;
          margin-bottom: 3px;
          margin-left: 10px;
          cursor: pointer;
          color: #000000;
        }
      }
    }

    .navbar_middle {
      width: 870px;
      height: 60px;
      padding: 3px;

      .navbar_menu {
        width: 850px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .menu_page {
          width: 100px;
          line-height: 50px;
          font-family: "Roboto", sans-serif;
          font-weight: 600;
          font-style: normal;
          visibility: visible;

          .menu {
            text-decoration: none;
            display: flex;
            align-items: center;
            margin-top: 5px;

            span {
              cursor: pointer;
              font-size: 18px;
              color: #000000;
              margin: 0;
              transition: color 0.3s;

              &:hover {
                color: #a76c47;
              }
            }
          }
        }
      }
    }

    .navbar_right {
      width: 300px;

      .navbar_icons {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        align-items: center;

        .icon_search {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .icon_cart {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .icon_user {
          width: 50px;
          height: 50px;
          padding: 10px;
          cursor: pointer;
          display: flex;
          align-items: center;
        }

        .navbar_signup {
          width: 75px;
          height: 50px;
          cursor: pointer;
          margin-left: 20px;

          .menu {
            text-decoration: none;

            span {
              width: 50px;
              margin-top: 2px;
              line-height: 50px;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              font-style: normal;
              visibility: visible;
              display: flex;
              justify-content: flex-end;
              color: #000000;
            }
          }
        }
        .navbar_login {
          width: 75px;
          height: 50px;
          cursor: pointer;

          .menu {
            text-decoration: none;

            span {
              width: 50px;
              margin-top: 2px;
              line-height: 50px;
              font-family: "Roboto", sans-serif;
              font-weight: 600;
              font-style: normal;
              visibility: visible;
              display: flex;
              justify-content: flex-end;
              color: #000000;
            }
          }
        }
      }
    }
  }
}
/* NAVBAR STYLE END */

/* FOOTER STYLE START */
.footer {
  width: 100%;
  height: 100%;
  background-color: #fee9b5; // fee9b5 fdf1c5
  justify-content: center;
  display: flex;

  .footer_box {
    width: 1320px;
    height: 520px;
    display: flex;

    .footer1 {
      width: 100%;
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 10px;

      .f1_top {
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;

        .f1_icon {
          width: 32px;
          height: 32px;
          margin-right: 10px;
          img {
            width: 30px;
            height: 30px;
          }
        }
        .f1_text {
          color: #000000;
          font-family: "Roboto", sans-serif;
          font-size: 18px;
          font-weight: 700;
        }
      }
      .f1_divider {
        width: 1px;
        height: 60px;
        background-color: black;
      }
    }

    .footer2_3 {
      width: 100%;
      height: 460px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .footer2 {
        width: 658px;
        height: 460px;

        .f2_box {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .f2_contents {
            width: 100%;
            height: 360px;
            display: flex;
            flex-direction: row;
            margin-left: 5px;

            .content {
              width: 215px;
              height: 250px;

              .title {
                width: 100%;
                height: 50px;
                margin-top: 50px;
                color: #000000;
                font-family: "Roboto", sans-serif;
                font-size: 18px;
                font-weight: 700;
                line-height: 25.2px;
                text-transform: uppercase;
                cursor: pointer;
              }

              .content_texts {
                display: flex;
                flex-direction: column;

                .text {
                  color: #000000;
                  font-family: "Open Sans", sans-serif;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 22.4px;
                  cursor: pointer;
                }
              }
            }
          }

          .f2_bottom {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;

            .f2_cards {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;

              .icon {
                width: 64px;
                height: 48px;
              }

              .icon_w {
                width: 50px;
                height: 35px;
              }

              .icon_p {
                width: 60px;
                height: 40px;
              }

              .icon_n {
                width: 75px;
                height: 55px;
              }

              .icon_s {
                width: 60px;
                height: 40px;
              }
            }

            .f2_rights {
              width: 510px;
              height: 24px;
              margin-left: 5px;

              p {
                color: #000000;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 22.4px;
              }
            }
          }
        }
      }
      .f2_divider {
        width: 1px;
        height: 360px;
        background-color: black;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 30px;
      }

      .footer3 {
        width: 658px;
        height: 460px;
        display: flex;
        justify-content: center;
        align-items: center;

        .f3_box {
          width: 500px;
          height: 440px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          margin-left: 20px;

          .f3_logo {
            width: 600px;
            height: auto;
            padding: 5px;
            display: flex;
            justify-content: center;
            margin-top: 20px;

            img {
              width: 100px;
              height: 100px;
            }
          }

          .f3_send_email {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-top: 10px;
            margin-bottom: 10px;

            h4 {
              width: 100%;
              height: auto;
              color: #000000;
              font-family: "Roboto", sans-serif;
              font-size: 26px;
              font-weight: 700;
              line-height: 25.2px;
            }

            .email_wrap {
              width: 100%;
              height: auto;
              display: flex;
              flex-direction: row;

              .f3_input {
                width: 350px;
                height: 25px;
                border: none;
                background-color: #fee9b5;
              }

              .f3_btn {
                width: 40px;
                height: 30px;
              }
            }

            .f3_divider {
              width: 400px;
              height: 1px;
              background-color: black;
            }
          }

          .f3_social_media {
            width: 100%;
            height: 30px;
            display: flex;
            flex-direction: row;
            margin-bottom: 20px;
            padding: 3px 0px;

            .icon {
              width: 24px;
              height: 24px;
              cursor: pointer;
              margin-right: 20px;
              // color: #000000;

              &:hover {
                color: #f98404;
              }
            }
          }

          .f3_num_email {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 40px;
            // border: 1px solid red;
            margin-top: 10px;

            .number {
              width: 250px;
              height: 28px;

              span {
                font-family: "Roboto", sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px;
              }
            }
            .email {
              width: 150px;
              height: 28px;
              // margin-top: 10px;
              cursor: pointer;

              span {
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 22.4px;
              }
            }
          }
        }
      }
    }

    @media screen and (max-width: 1320px) {
      .footer_box {
        border: none;
      }
    }
  }
}

/* FOOTER STYLE END */
