.orders_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid green;
  height: 100vh;

  .mainbar {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    margin: 0 auto;

    .top_btn_wrap {
      .top_btn {
        background: #f1f0f5;
        color: #000000;
        text-transform: capitalize;
        margin-right: 15px;
        padding: 3px 15px;
        border-radius: 20px;
      }
      .top_btn_active {
        color: #ffffff;
        background: #fc9823;
      }
    }
    .orders_wrap {
      margin-top: 27px;

      .order_box {
        border: 1px solid #dddddd;
        border-radius: 5px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        .order_header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          padding: 0 20px;

          .header_left_box {
            .title_wrap {
              display: flex;
              flex-direction: row;
              align-items: flex-end;

              .bold_head {
                font-size: 18px;
                margin-right: 20px;
              }

              .status {
                font-weight: 600;
                font-size: 16px;
              }

              .status_process {
                color: #17a2b8;
              }

              .status_pending {
                color: #fc9823;
              }

              .status_delivered {
                color: #28a745;
              }
            }

            p {
              font-size: 14px;
              color: #5a5a5a;
              span {
                font-weight: 600;
                color: #172b4d;
              }
            }
          }

          .header_right_box {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            h3 {
              font-size: 18px;
            }

            p {
              font-size: 13px;
              color: #5a5a5a;
            }
          }
        }

        .margin {
          width: 100%;
          padding: 0 20px;
          display: flex;
          flex-direction: column;
          align-items: center;

          .marginer {
            height: 1px;
            background: #dddddd;
            width: 100%;
            margin: 15px;
          }
        }

        .table_head {
          display: flex;
          padding: 0 20px;
          flex-direction: row;
          width: 100%;
          margin-bottom: 10px;

          .head_product {
            flex: 4;
            font-size: 14px;
            color: #5a5a5a;
          }

          .head_price,
          .head_item {
            flex: 2;
            font-size: 14px;
            color: #5a5a5a;
          }
        }

        .tbody_wrap {
          overflow-y: auto;
          max-height: 300px;
          width: 100%;

          .table_body {
            padding-left: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 100%;
            background: #f5f5f5;
            padding: 8px 20px;
            font-size: 15px;

            .product_wrap {
              flex: 4;
              display: flex;
              flex-direction: row;
              align-items: center;

              p {
                font-weight: 600;
              }

              img {
                width: 40px;
                height: 40px;
                margin-right: 5px;
              }
            }

            .product_price,
            .product_delivery,
            .product_quantity {
              flex: 2;
              font-weight: 500;
            }
          }

          .table_body_active {
            background: #ffffff;
          }
        }

        .order_btn_wrap {
          display: flex;
          flex-direction: row;
          gap: 10px;

          .pay_btn {
            text-transform: capitalize;
            font-weight: 600;
            color: #ffffff;
            background: #fc9823;
            margin-top: 10px;
          }
        }
      }
    }
  }
}
